<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css' )}}">
            <link rel="stylesheet" href="{{ asset('css/master.css' )}}">
        {% endblock %}

        {% block cdn %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/31f4af1659.js"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% set loggedIn = app.session.get('loggedIn') %}
        {% set user = app.session.get('user') %}

        <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
            <a href="/" class="navbar-brand">ASL</a>

            {% block navigation %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/registerForm" class="nav-link">Form</a></li>
                {% if loggedIn %}
                <li class="nav-item"><a href="/users" class="nav-link">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if loggedIn %}
                <span class="navbar-text ml-auto text-muted">Logged in as {{ user.fullname }}</span>
                <li class="nav-item"><a href="/auth/logout" class="nav-link">Log Out</a></li>
                {% else %}
                <li class="nav-item"><a href="/auth" class="nav-link">Log In</a></li>
                {% endif %}
            </ul>
            {% endblock %}

        </nav>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.min.js') }}" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
